{% block movie-card %}
  <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">{{ movieTitle }}</span>
            </div>
            <div class="card-content">
            </div>
            <div class="card-action">
              <a href="#">See More</a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}