{% extends 'template.twig' %}

{% block content %}
<div class="row">
    <h2>Search page</h2>
    <form class="" method="post">
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input id="search-bar" type="search" class="validate" name="search" >
            <label for="search-bar">Search by title...</label>
        </div>
    </form>
</div>

    <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <h4 class="style-blue">Filters</h4>

            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">live_tv</i>Genre</div>
                    <div class="collapsible-body">
                        <span>
                                <p>
                                    <input type="checkbox" class="filled-in" id="genre1"/>
                                    <label for="genre1">Choice</label>
                                </p>
                                <p>
                                    <input type="checkbox" class="filled-in" id="genre2"/>
                                    <label for="genre2">Choice</label>
                                </p>
                                <p>
                                    <input type="checkbox" class="filled-in" id="genre3"/>
                                    <label for="genre3">Choice</label>
                                </p>
                                <p>
                                    <input type="checkbox" class="filled-in" id="genre4"/>
                                    <label for="genre4">Choice</label>
                                </p>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">star</i>Rating</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">av_timer</i>Running Time</div>
                    <div class="collapsible-body">
                        <span>
                            <div id="slider-duration"></div>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Nationality</div>
                    <div class="collapsible-body">
                        <span>
                                <p>
                                    <input type="checkbox" class="filled-in" id="nat1"/>
                                    <label for="nat1">Choice</label>
                                </p>
                                <p>
                                    <input type="checkbox" class="filled-in" id="nat2"/>
                                    <label for="nat2">Choice</label>
                                </p>
                                <p>
                                    <input type="checkbox" class="filled-in" id="nat3"/>
                                    <label for="nat3">Choice</label>
                                </p>
                                <p>
                                    <input type="checkbox" class="filled-in" id="nat4"/>
                                    <label for="nat4">Choice</label>
                                </p>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">date_range</i>Release Year</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </li>
    </ul>

{% endblock %}