{% extends 'template.twig' %}

{% block content %}
<div class="row no-margin">
    <div class="left col s12 m3 side-menu-search">
        <form class="" method="post">
            <div class="input-field col s12">
                <i class="material-icons prefix">search</i>
                <input placeholder=" Search by title..." id="search-bar" type="search" class="validate" name="search" >
            </div>
        </form>

        <h4>Filters</h4>
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">live_tv</i>Genre</div>
                    <div class="collapsible-body">
                        <span>
                                <p>
                                    <input type="checkbox" class="filled-in" id="genre1"/>
                                    <label for="genre1">Choice</label>
                                </p>
                                <p>
                                    <input type="checkbox" class="filled-in" id="genre2"/>
                                    <label for="genre2">Choice</label>
                                </p>
                                <p>
                                    <input type="checkbox" class="filled-in" id="genre3"/>
                                    <label for="genre3">Choice</label>
                                </p>
                                <p>
                                    <input type="checkbox" class="filled-in" id="genre4"/>
                                    <label for="genre4">Choice</label>
                                </p>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">star</i>Rating</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">av_timer</i>Running Time</div>
                    <div class="collapsible-body">
                        <!--span>
                            <div id="slider-duration"></div>
                        </span-->
                        <div class="range-field">
                            <input type="range" id="test5" min="0" max="300" />
                            Choose the maximum duration (minutes) of the movie.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Nationality</div>
                    <div class="collapsible-body">
                        <span>
                                <p>
                                    <input type="checkbox" class="filled-in" id="nat1"/>
                                    <label for="nat1">Choice</label>
                                </p>
                                <p>
                                    <input type="checkbox" class="filled-in" id="nat2"/>
                                    <label for="nat2">Choice</label>
                                </p>
                                <p>
                                    <input type="checkbox" class="filled-in" id="nat3"/>
                                    <label for="nat3">Choice</label>
                                </p>
                                <p>
                                    <input type="checkbox" class="filled-in" id="nat4"/>
                                    <label for="nat4">Choice</label>
                                </p>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">date_range</i>Release Year</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
    </div>
    <div class="right col s12 m9">
        <div class="container-movie">
        {% if movies %}
            {% for movie in movies %}
            <div class="card card-movie">
                <div class="card-image">
                    {% if movie.image is defined and movie.image != "N/A" %}
                    <img src="{{ movie.image }}">
                    {% else %}
                        <img src="webroot/images/no-image.jpg">
                    {% endif %}
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ movie.title }}</span>
                    <p><a href="index.php?page=movie&id={{ movie.title }}">See More</a></p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Pas de film trouver pour votre recherche...</p>
        {% endif %}       
        </div>
    </div>
</div>
{% endblock %}