{% extends 'template.twig' %}

{% block content %}

<div class="container">
    <table>
        <thead>
            <tr>
            {% for col in movie_col %}
                <th>{{ col }}</th>
            {% endfor %}
            </tr>
        </thead>      
            
        <tbody>
            {% for data in movie_data %}
            <tr>
                {% for col in movie_col %}
                    <th>{{ data[col] }}</th>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="right col s12 m9">
    <div class="container-movie">
    {% for data in movie_dataIMDB %}
        <div class="card card-movie">
            <div class="card-image">
            {% if data['image'] is defined and data['image'] != "N/A" %}
               <img src="{{ data['image'] }}">
            {% else %}
                <img src="webroot/images/no-image.jpg">
            {% endif %}
          
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ data['title'] }}</span>
                <p><a href="index.php?page=movie&id=#">See More</a></p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}