<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import noSliderUI.css-->
    <link type="text/css" rel="stylesheet" href="webroot/css/nouislider.min.css"
          media="screen,projection"/>   
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="webroot/css/materialize.min.css"
          media="screen,projection"/>       
    <!--Import style.css-->
    <link type="text/css" rel="stylesheet" href="webroot/css/style.css"
          media="screen,projection"/>

		  
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Reel Picker</title>
</head>

<body>
    {% if connected == 'ok' %}
    <nav class="nav-extended">
            <div class="nav-content">
                <a id="logo-text" href="index.php?page=home" "right brand-logo">ReelPicker</a>
                <a href="index.php?page=home"><img id="logo-img" src="webroot/images/reel.png" alt="PickAReel"></a>

                <ul class="tabs tabs-transparent">
                  <li class="tab" {% if page == 'home' %}{{ attributes.addClass('active') }}{% endif %}><a target="_self" href="index.php?page=home">Home</a></li>
                  <li class="tab" {% if page == 'search' %}{{ attributes.addClass('active') }}{% endif %}><a target="_self" href="index.php?page=search">Search</a></li>
                  <li class="tab" {% if page == 'profile' %}{{ attributes.addClass('active') }}{% endif %}><a target="_self" href="index.php?page=profile">Profile<span class="new badge">2</span></a></li>
                </ul>
    
            </div>
          </nav>

    {% else %}
    <nav class="nav-extended">
        <div class="nav-content">
            <a id="logo-text" href="#home" "right brand-logo">ReelPicker</a>
            <a href="#home"><img class="right" src="webroot/images/reel.png" alt="PickAReel"></a>
        </div>
    </nav>

    {% endif %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="webroot/js/materialize.min.js"></script>
<script type="text/javascript" src="webroot/js/wNumb.js"></script>
<script type="text/javascript" src="webroot/js/nouislider.min.js"></script>
<script type="text/javascript" src="webroot/js/slider.js"></script>
</body>
</html>