<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import noSliderUI.css-->
    <link type="text/css" rel="stylesheet" href="webroot/css/nouislider.min.css"
          media="screen,projection"/>   
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="webroot/css/materialize.min.css"
          media="screen,projection"/>       
    <!--Import style.css-->
    <link type="text/css" rel="stylesheet" href="webroot/css/style.css"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="webroot/css/navbar.css"
          media="screen,projection"/> 
    <link type="text/css" rel="stylesheet" href="webroot/css/home.css"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="webroot/css/movie.css"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="webroot/css/search.css"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="webroot/css/profile.css"
          media="screen,projection"/> 
    <link type="text/css" rel="stylesheet" href="webroot/css/slider.css"
          media="screen,projection"/>    
    <!--Font Awesome Icons database-->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Reel Picker</title>
</head>

<body>
    {% if connected == 'ok' %}
    <div class="navbar-fixed">
        <nav class="navbar-reel">
            <div class="nav-wrapper">
                <a id="logo-text" href="index.php?page=home" class="left brand-logo"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="{% if page == 'home' %}active{% endif %}"><a href="index.php?page=home"><i class="fa fa-film" aria-hidden="true"></i> Home</a></li>
                    <li class="{% if page == 'search' %}active{% endif %}"><a href="index.php?page=search"><i class="fa fa-search" aria-hidden="true"></i> Search</a></li>
                    <li class="{% if page == 'profile' %}active{% endif %}"><a href="index.php?page=profile"><i class="fa fa-user" aria-hidden="true"></i> Profile<span class="new badge">2</span></a></li>
                    <li ><a href="index.php?page=logout"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li class="{% if page == 'home' %}active{% endif %}"><a href="index.php?page=home"><i class="fa fa-film" aria-hidden="true"></i> Home</a></li>
                    <li class="{% if page == 'search' %}active{% endif %}"><a href="index.php?page=search"><i class="fa fa-search" aria-hidden="true"></i> Search</a></li>
                    <li class="{% if page == 'profile' %}active{% endif %}"><a href="index.php?page=profile"><i class="fa fa-user" aria-hidden="true"></i> Profile<span class="new badge">2</span></a></li>
                    <li ><a href="index.php?page=logout"><i class="fa fa-power-off" aria-hidden="true"></i>Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>

    {% else %}
    <div class="navbar-fixed">
      <nav class="navbar-reel">
            <div class="nav-wrapper">
                <a id="logo-text" href="index.php?page=home" class="left brand-logo"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">               
                </ul>                
            </div>
      </nav>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="webroot/js/materialize.min.js"></script>
<script type="text/javascript" src="webroot/js/wNumb.js"></script>
<script type="text/javascript" src="webroot/js/nouislider.min.js"></script>
<script type="text/javascript" src="webroot/js/slider.js"></script>
<script type="text/javascript" src="webroot/js/carousel.js"></script>
<script type="text/javascript" src="webroot/js/modal.js"></script>
</body>
</html>