/*****
    MOVIE HOME
*****/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1 {
    margin: 30px !important;
}

.page-footer {
    margin-top: 10px;
    background-color: #282828;
}

.movie-image {
    min-width: 100%;
}

@media only screen and (min-width: 993px) {
    .grid-item { 
        width: 19%;
        margin: 0.5%;
    }
}

@media only screen and (max-width: 500px) {
    .grid-item { 
        width: 100%;
        margin: 0px;
    }
}

.card {
    margin: 0;
}

.bottom-line {
    font-size: 24px;
}