/*****
    NAVBAR
*****/
.navbar-reel {
    background-color: #000;
    min-height: 85px;
}

.navbar-fixed {
    height: 80px;
}

.nav-wrapper{
    padding-top: 10px;
}

.navbar-reel a {
    font-size: 20px;
}

nav ul li.active a {
    color: #45B3BF;
}

nav ul li.active a i {
    color: #45B3BF;
}

.side-nav {
    background-color: #000; 
}

.side-nav li>a {
    color: #fff;
}

.side-nav li>a>i {
    color: #fff;
}

@media only screen and (max-width: 992px) {
    .navbar-reel {
        background-color: #000;
        min-height: 50px;
    }

    .navbar-fixed {
        height: 45px;
    }

    .nav-wrapper{
        padding-top: 0;
    }
}
