/*****
    PROFILE
*****/
.divider {
    background-color: #45B3BF;
    margin-bottom: 10px;
}

.chip {
    color: #fff;
    background-color: #D92579;
}

.low {
    margin-top: 1.5rem;
}

img.avatar {
    padding-top: 20px;
    width: 60% !important;
}

i.star-full {
    color: #FC0;
}

i.star-empty {
    color: #666;
}
