/*****
    SERACH OPTIONS
*****/
.collapsible {
    color: #fff;
    font-size: 15px;
}

.collapsible-header {
    background-color: #252525;
    font-size: 15px;
}

.side-menu-search {
    background-color: #252525;
    height: 100%;
    padding: 20px;
}

.collapsible-body .btn a {
    color: white;
}

@media only screen and (min-width: 993px) {
    .side-menu-search {
        position: fixed;
    }
}

@media only screen and (max-width: 500px) {
    .side-menu-search {
        position: relative;
        height: 400px;
    }
}