/*****
    GENERAL
*****/
.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.fixed-top {
    position: fixed;
    top: 0;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.center {
    margin: 0 auto;
}

.no-margin {
    margin: 0 !important;
}

.style-background {
    background-color: #282828;
}

.style-blue {
    color: #45B3BF;
}

.style-fushia {
    color: #D92579;
}

body {
    background-color: #282828;
    background-image: url("../images/floral-bg.jpg");
    font-family: 'PT Serif';
    color: white;
}

.container {
    margin-top: 20px;
}

/*****
    SPAN (for profile)
*****/
span.badge.new {
    color: #000;
    background-color: #D92579;
    border-radius: 10px;
}

/*****
    LOGO
*****/
#logo-text {
    margin-left: 10px;
    background-image: url("../images/RP_logo2.svg"), none;
    background-size: cover;
    width: 160px;
    height: 70px;
    /*display: inline-block;
    color: #45B3BF;
    font-family: 'Broadway';
    font-size: 50px;
    margin-left: 40px;*/
}
