/*****
    GENERAL
*****/
.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.fixed-top {
    position: fixed;
    top: 0;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.center {
    margin: 0 auto;
}

.style-background {
    background-color: #282828;
}

.style-blue {
    color: #45B3BF;
}

.style-fushia {
    color: #D92579;
}

body {
    background-color: #282828;
    background-image: url("../images/floral-bg.jpg");
    font-family: 'PT Serif';
    color: white;
}

/*****
    NAVBAR
*****/
.navbar-reel {
    background-color: #282828;
    min-height: 85px;
    /*background-image: url("../images/strip-motif.png");*/
}

.nav-wrapper{
    padding-top: 10px;
}

.navbar-reel a {
    font-size: 20px;
}

nav ul li.active a {
    color: #45B3BF;
}

nav ul li.active a i {
    color: #45B3BF;
}

.side-nav {
    background-color: #282828; 
}

.side-nav li>a {
    color: #fff;
}

.side-nav li>a>i {
    color: #fff;
}


/*****
    SPAN (for profile)
*****/
span.badge.new {
    color: #000;
    background-color: #D92579;
    border-radius: 10px;
}

/*****
    LOGO
*****/
#logo-text {
    display: inline-block;
    color: #45B3BF;
    font-family: 'Broadway';
    font-size: 50px;
    margin-left: 40px;
}

/*****
    SERACH OPTIONS
*****/
.collapsible {
    color: #000;
    font-size: 15px;
}

/*****
    PROFILE
*****/
.divider {
    background-color: #45B3BF;
    margin-bottom: 10px;
}

.chip {
    color: #fff;
    background-color: #D92579;
}

/*****
    MOVIE HOME
*****/
@media only screen and (min-width: 993px) {
    .container-movie {
        -moz-column-count: 4;
        -moz-column-gap: 10px;
        -webkit-column-count: 4;
        -webkit-column-gap: 10px;
        column-count: 4;
        column-gap: 10px;
        width: 100%;
    }    
}

@media only screen and (max-width: 500px) {
    .container-movie {
        -moz-column-count: 1;
        -moz-column-gap: 10px;
        -webkit-column-count: 1;
        -webkit-column-gap: 10px;
        column-count: 1;
        column-gap: 10px;
        width: 100%;
    }
}

.container-movie div {
    display: inline-block;
    width: 100%;
}

/*****
    MOVIE DISPLAY
*****/
.movie-content {
    min-height: 400px;
    margin: 1.5rem 0 1rem 0;
}

.movie-content p {
    min-height: 200px;
}

.movie-image {
    width: 100%;
    margin: 1.5rem 0 1rem 0;
}